# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
.vscode/
__pycache__/
.ipynb_checkpoints
Sample/00_OWN_STUFF/metadata_own.tpl
Sample/00_OWN_STUFF/work_settings.json
Sample/img_test/*.*
Sample/20_FileCopy/trg

# Executables
*.swf
*.air
*.ipa
*.apk
*.pyc

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
Sample/img_test/metadata_copied/default.geo
Sample/img_test/metadata_copied/IMG_20200615_114528792_NOGPS.geo
Sample/img_test/metadata_copied/IMG_20200615_114528792_NOGPS.meta
Sample/img_test/metadata_copied/IMG_20200615_115045984_GPS.geo
Sample/img_test/metadata_copied/IMG_20200615_115045984_GPS.meta
Sample/img_test/metadata_copied/IMG_20200615_115045984_NOGPS.geo
Sample/img_test/metadata_copied/IMG_20200615_115045984_NOGPS.meta
Sample/img_test/metadata_copied/IMG_20200615_115045984_WITHMETA.geo
Sample/img_test/metadata_copied/IMG_20200615_115045984_WITHMETA.meta
Sample/img_test/metadata_copied/IMG_20200615_115707184_GPS.geo
Sample/img_test/metadata_copied/IMG_20200615_115707184_GPS.meta
Sample/img_test/metadata_copied/IMG_20200615_115707184_NOGPS.geo
Sample/img_test/metadata_copied/IMG_20200615_115707184_NOGPS.meta
Sample/img_test/metadata_copied/IMG_20200615_115707184_WITHMETA.geo
Sample/img_test/metadata_copied/IMG_20200615_115707184_WITHMETA.meta
Sample/img_test/metadata_copied/IMG_20200615_115733158_NOGPS.geo
Sample/img_test/metadata_copied/IMG_20200615_115733158_NOGPS.meta
Sample/img_test/metadata/IMG_20200615_114528792_NOGPS.geo
Sample/img_test/metadata/IMG_20200615_114528792_NOGPS.meta
Sample/img_test/metadata/IMG_20200615_115045984_GPS.geo
Sample/img_test/metadata/IMG_20200615_115045984_GPS.meta
Sample/img_test/metadata/IMG_20200615_115045984_NOGPS.geo
Sample/img_test/metadata/IMG_20200615_115045984_NOGPS.meta
Sample/img_test/metadata/IMG_20200615_115045984_WITHMETA.geo
Sample/img_test/metadata/IMG_20200615_115045984_WITHMETA.meta
Sample/img_test/metadata/IMG_20200615_115707184_GPS.geo
Sample/img_test/metadata/IMG_20200615_115707184_GPS.meta
Sample/img_test/metadata/IMG_20200615_115707184_NOGPS.geo
Sample/img_test/metadata/IMG_20200615_115707184_NOGPS.meta
Sample/img_test/metadata/IMG_20200615_115707184_WITHMETA.geo
Sample/img_test/metadata/IMG_20200615_115707184_WITHMETA.meta
Sample/img_test/metadata/IMG_20200615_115733158_NOGPS.geo
Sample/img_test/metadata/IMG_20200615_115733158_NOGPS.meta
Sample/img_test/metadata/metadata_exif.tpl
Sample/img_test/metadata/metadata_own.tpl
Sample/img_test/metadata/metadata_sample.tpl
Sample/img_test/metadata/metadata.tpl
Sample/img_test/metadata/metadata_copied/IMG_20200615_114528792_NOGPS.geo
Sample/img_test/metadata/metadata_copied/IMG_20200615_114528792_NOGPS.meta
Sample/img_test/metadata/metadata_copied/IMG_20200615_115045984_GPS.geo
Sample/img_test/metadata/metadata_copied/IMG_20200615_115045984_GPS.meta
Sample/img_test/metadata/metadata_copied/IMG_20200615_115045984_NOGPS.geo
Sample/img_test/metadata/metadata_copied/IMG_20200615_115045984_NOGPS.meta
Sample/img_test/metadata/metadata_copied/IMG_20200615_115045984_WITHMETA.geo
Sample/img_test/metadata/metadata_copied/IMG_20200615_115045984_WITHMETA.meta
Sample/img_test/metadata/metadata_copied/IMG_20200615_115707184_GPS.geo
Sample/img_test/metadata/metadata_copied/IMG_20200615_115707184_GPS.meta
Sample/img_test/metadata/metadata_copied/IMG_20200615_115707184_NOGPS.geo
Sample/img_test/metadata/metadata_copied/IMG_20200615_115707184_NOGPS.meta
Sample/img_test/metadata/metadata_copied/IMG_20200615_115707184_WITHMETA.geo
Sample/img_test/metadata/metadata_copied/IMG_20200615_115707184_WITHMETA.meta
Sample/img_test/metadata/metadata_copied/IMG_20200615_115733158_NOGPS.geo
Sample/img_test/metadata/metadata_copied/IMG_20200615_115733158_NOGPS.meta
Sample/img_test/metadata/default.geo
Sample/img_test/metadata/metadata_copied/default.geo
